name: Build and Release

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  versioning:
    runs-on: ubuntu-latest
    outputs:
      new_tag: ${{ steps.tag_version.outputs.new_tag }}
      changelog: ${{ steps.tag_version.outputs.changelog }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

  build-android-linux:
    needs: versioning
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
      
      - name: Install Linux dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev liblzma-dev libstdc++-12-dev

      - run: flutter pub get
      
      - name: Build Android APK
        run: |
          flutter build apk --release
          mv build/app/outputs/flutter-apk/app-release.apk relay-android.apk
      
      - name: Build Linux
        run: |
          flutter build linux --release
          tar -czf linux-release.tar.gz -C build/linux/x64/release/bundle .

      - name: Release Android & Linux
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ needs.versioning.outputs.new_tag }}
          files: |
            relay-android.apk
            linux-release.tar.gz

  build-macos-ios:
    needs: versioning
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
      - run: flutter pub get

      - name: Build MacOS
        run: |
          flutter build macos --release
          cd build/macos/Build/Products/Release
          zip -r ../../../../../macos-release.zip Relay.app
          cd ../../../../..

      - name: Build iOS (No Codesign)
        run: flutter build ios --release --no-codesign

      - name: Release MacOS
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ needs.versioning.outputs.new_tag }}
          files: macos-release.zip

  build-windows:
    needs: versioning
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'master'
          cache: true
      - run: flutter pub get
      - run: flutter build windows --release
      - name: Default Compress
        run: compress-archive -Path build/windows/x64/runner/Release/* -DestinationPath windows-release.zip
      
      - name: Release Windows
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ needs.versioning.outputs.new_tag }}
          files: windows-release.zip
